.body {
	display: grid;
	place-content: center;
	font-family: sans-serif;
	background-color: #B7EBDB;
}

.titulo {
	font-size: 3rem;
}

.tableContainer {
	display: flex;
	flex-direction: column;

}
table {
	 
	border-collapse: collapse;
}

.filas {
	background-color: #CBD9EA;
	border:1px solid #000;
	padding-inline: 15px;
	padding-block: 8px;
}

.container_buttons {
	margin-top: 10px;
}

.btn {
	border-radius: 10px;
	padding: 10px;
	border: 1px solid #000;
	background-color: #CBD9EA;
	cursor: pointer;
	margin: 5px;
}
